
  /* page scrool down smoothly */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* background: #E0DDDD; */
    /* background: #EBE7E7 */

/* header */
#about-items{
/* background-color: rgb(204, 204, 255); */
background-color: #0a0a23;
      /* background-color: #1b1b32; */
font-family: Arial, Helvetica, sans-serif;
border: none;
padding-bottom: 5px;
}

/* nav-bar menu */
#about-menu{
  display: flex;
  list-style: none;
  margin-top: 15px; 
  float: right;
  padding-right: 80px;  
}

/* More about me logo */
#about-page-logo{
  color: rgb(255, 102, 102);
  padding-left: 70px;
}

/* nav-bar menu modifications */
li a{
  color: rgb(255, 102, 102);
  padding-left: 30px;
  font-size: 18px;
}
li a:hover {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
/* name modifications */
#page-logo a{
  color:rgb(255, 102, 102);
  text-decoration: none;
}
#page-logo a:hover{
  color:blue;
  cursor: pointer;
}

/* main */
 .main-section{
  border-radius: 5px;
  margin-top: -20px;
  /* background-color:#EBE7E7; */
  /* background-color: #E0DDDD; */
} 

/* left side */
.left-side{
  background-color:#EBE7E7; 
  float: left;
  margin-top: -45px;

}
/* fig caption */
.left-side figcaption{
  text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}

/* right side */
.right-side{
  background-color: #E0DDDD ;
  padding-top: 10px;
}
.right-side h2{
font-family: ubuntu;
text-align: center;
padding-bottom: 10px;
}
/* experience, education, skills and software text */
.experience h3, .education h3, .skills h3, .software h3, .certification h3{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.4px;
}

/* all div underlines */

.experience-div{
  border: 0.5px darkgray solid;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.experience >ul>li, .education >ul >li, .skills >ul>li, .software >ul>li, .certification >ul>li{
  list-style: none;
  letter-spacing: 0.3px;
}

/* footer */


