/* page scrool down smoothly */
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  /* logo */
  #logo {
    width: max(600px, 5vw);
      /* background-color: #0a0a23; */
    aspect-ratio: 35 / 4;
      /* padding: 0.2rem; */
      padding-left: 125px;
      padding-top: 5px;
  }
  
  /* background: #E0DDDD; */
      /* background: #EBE7E7 */
  
  /* header */
  #about-items{
  /* background-color: rgb(204, 204, 255); */
  background-color: #E0DDDD ;
        /* background-color: #1b1b32; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size:x-large;
  border: none;
  padding-bottom: 5px;
  }
  
  /* nav-bar menu */
  #about-menu{
    display: flex;
    list-style: none;
    margin-top: 15px; 
    float: right;
    padding-right: 40px;  
  }
  
  /* More about me logo */
  #about-page-logo{
    color: #0a0a23;
    padding-left: 30px;
    padding-top: 25px;
    /* padding-bottom: 20px; */
  }
  
  /* nav-bar menu modifications */
  li a{
    color: #0a0a23;
    padding-left: 30px;
    font-size: 18px;
  }
  li a:hover {
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }
  /* name modifications */
  #page-logo a{
    color:#0a0a23;
    text-decoration: none;
  }
  #page-logo a:hover{
    color:blue;
    cursor: pointer;
  }
/* main */
  #main {
    background-color: #0a0a23;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* margin-left: 100px; */
    margin-top: -20px;
    border-radius: 3px;
  }
  /* left side */
  #gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
  }
  
  #gallery img {
    width: 33.3%;
    height: 250px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
  }
  /* right side */
  .right-side{
    margin-left: 100px;
    color:whitesmoke;
    text-align: center;
    padding-right: 120px;
    letter-spacing: 1px;
    font-family: arial, ubuntu;
    font-size: larger;
    font-weight: 500px;
    padding-top: 55px;
    
  }
  .right-side p{
    
    text-align: center;
    padding-bottom: 45px;
  }
  