
* {
    box-sizing: border-box;
  }
/* main page */
#front-page{
    background-color: rgb(122, 122, 238);
    /* background: #E0DDDD; */
    /* background: #EBE7E7 */
    margin-top: -50px;
    padding-top: 15px;
    border-radius: 5px;
}
/* all nav bar elements */

.nav-header a{
    color: white;
}
.nav-header a:hover{
    text-decoration: none;
    color:cyan;
}
/* logo and text */
.logo-text{
    padding-left: 15px;
}
.logo-text p{
padding-top: 10px;
padding-bottom: -5px;
} 
  .logo-text img{
margin-left: 20px;
}  
 .nav-elements{
    float: right;
    margin-top: -70px;
} 
.home-text{
    margin-left: 99px;
}
.home-a{
    text-align: center;
}
.bottom-elements a{
    padding-right: 20px; 
    font-size: large;
}

/* main page h1 tag */
 div h1{
    text-align: center;
    font-family: arial sans-serif;
    text-shadow: 2px 2px #cf5555;
    color: whitesmoke;
    padding-top: 5px;
}
/* all front page images */
#front-images{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
    
}

#front-images img {
    width: 25%;
    height: 300px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
  }
  
/* front-page i tag */
i{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 70px;
    font-family: arial;
    padding-left: 580px;
    font-size:x-large;
}
/* footer */
.footer-bar{
    background-color: rgb(46, 43, 43);
    margin-top: -14px;
}
/* front-page h3 tag */
.footer{ 
    text-align: center;
    color: white;
}
.footer h3{
    padding-top: 5px;
}
.footer p{
    padding-top: 5px;
}
.btn-text{
    font-size: large;
    font-family: arial;
    margin-top: -7px;
    margin-bottom: -3px;
    
}
.copyright{
    color: rgb(122, 122, 238);
    padding-bottom: 10px;
}



