
/* main page */
#front-page{
    background-color: orange;
    /* margin-top: 50px; */
    padding-top: 15px;
    /* padding-bottom: 20px; */
    /* background-color: rgb(255, 255, 0) */
}
/* all nav bar elements */

.nav-header a{
    color: white;
}
.nav-header a:hover{
    text-decoration: none;
    color:cyan;
}
/* logo and text */
.logo-text p{
padding-top: 10px;
padding-bottom: -5px;
} 
/* .logo-text a{
padding-bottom: 10px;
} */
 .nav-elements{
    float: right;
    margin-top: -70px;
} 
.home-text{
    margin-left: 99px;
}
.home-a{
    /* margin-right: 80px; */
    text-align: center;
}
.bottom-elements a{
     /* padding-left: -40px; */
    padding-right: 20px; 
    font-size: large;
}

/* main page h1 tag */
 div h1{
    text-align: center;
    text-shadow: 2px 2px #FF0000;
    /* color: 	rgb(191, 255, 0) */
    /* color: 	rgb(64, 255, 0); */
    /* color: 	rgb(0, 255, 128); */
    color: whitesmoke;
    /* margin-top: 25px; */
    padding-bottom: 10px;
}
/* all front page images */
.front-images{
    display: inline-flexbox;
    /* display: flexbox; */
    /* width: 20%; */

}
/* front-page h2 tag */
div h2{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px;
}
/* front-page h3 tag */
div h3{
    text-align: center;
    color: whitesmoke;
}
/* front-page buttons */
/* div btn-home-owner, btn-contractor{
    align-items: center;
} */
/* .btn-home-owner, .btn-contractor{
background-color: whitesmoke;
} */
.btn-home-owner{
    align-items: center;
}
.btn-home-owner:hover{
    background-color: black;
    color: whitesmoke;
}
.btn-contractor:hover{
    background-color: black;
    color: whitesmoke;
}


